body {
    text-align: center;
    font-family: Arial;
    background-color: lightgray;
}

nav {
    background-color: gray;
    padding: 15px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
}

input {
    padding: 10px;
    margin: 5px;
}

section {
    margin-top: 30px;
}
